:root {
  --color-text: #333;
  --color-primary: #006aff;
  --color-link: #875cf6;
  --page-background: #fff;
  --mobie: 500px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-text: white;
    --page-background: #151515;
  }
} */